.calc_block {
    position: relative;
    margin: 0 auto;
    padding: 20px 0px;
    display: inline-block;
    width: 350px;
    background-color: rgba(96, 125, 139, 0.8);
    border: 8px solid #8895dc ;
}
  

.button-row {
  text-align: center;
}

.calc_input div.input-block{
    width: 85%;
    background-color: #fff;
    text-align: right;
    font-size: xx-large;
    min-height: 1.2em;
    margin-left: 18px;
    margin-bottom: 20px;
    padding-right: 18px;
    border: 1px solid #8895dc;
    color: rgba(125, 125, 17, 0.77);
}

.button-row div {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: #eee;
  padding: 10px 0;
  margin: 7px 5px;
  width: 50px;
}

.button-row button {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: #eee;
  padding: 10px 0;
  margin: 7px 5px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px red;
  width: 50px;
}

.button-row button.zero, .button-row button.equal {
  width: 112px;
  margin-right: 5px;
}
